img {
	cursor: pointer;
}

.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.text-center {
	text-align: center;
}

.page-footer {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
}

#libelle{
	font-family: verdana, sans-serif;
}

.btnRetour{
	color : white;
}