.u-id { flex: 0 1 1cm; }
.u-profil { flex: 0 1 2cm; }
.u-nom { flex: 0 1 5cm; }
.u-promotion { flex: 0 1 1.5cm; }
.u-actions { flex: 0 1 2cm; }

.hidden {
	display: none;
}

.action-button {
	cursor: pointer;
	display: flex;
	height: .6cm;
	width: .6cm;
	border: none;
	background-color: #555555;
	color: #ffffff;
	align-items: center;
	justify-content: center;
}
.action-button:hover {
	background-color: #dddddd;
	color: #bb5555;
}